*

 {font-family:Verdana, Geneva, Tahoma, sans-serif}

/* website border */

main {
  border: 5px solid blanchedalmond;
  }

/* Title Name */

h1 {
    position: absolute;
    font-size: 75px;
    top: 50px;
    left: 100px;
    background-color: black;
    color:rgb(129, 184, 206);
  
    /*subtitle name*/

}

#mg {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  position: absolute;
  font-size: 50px; 
  text-decoration: underline;
  top: 125px;
  right: 120px;
  background-color: black;
  color:rgb(125, 145, 182)
}

/* Navigator*/

nav {
  display: flex;
  border: 2px solid black;
  font-weight: bold;
  padding: 0px;
  font-size: 25px;
  justify-content: space-evenly;
  
  background-color: rgb(147, 184, 226);
}

a {
  display: inline;
  margin: 5px;
  padding: 5px;
  
 color: blanchedalmond;
}

/* box labels */

.box {

position: relative;
font-size: 250%;
background-color: rgb(70, 114, 155);
width: 200px;
height: 50px;
line-height: 50px;
left: 10px;
color: blanchedalmond;
border: 2px solid black;

} 

/* about me paragraph */

ul, 
li
 { 
  font-family:'Times New Roman', Times, serif;
  background-color:blanchedalmond;
  color: rgb(56, 56, 99);
  font-size: 25px;
  position: relative;
  left: 125px;
  width: 1000px;
}

 /* work categories */

.label {
  position: relative;
  left: 250px;
  background-color: gainsboro;
  width: 1000px;
}

.label2 {

  position: relative;

  bottom: 325px;
  left: 400px;
}

#programs {
position: relative;
color: blanchedalmond;
font-size: 25px;
left: 10px;
top: 100px;
width: 280px;
height: 60px;


}

#music {
position: relative;
color:blanchedalmond;
font-size: 25px;
left: 10px;
top: 100px;
height: 60px;
width: 280px;
}

#art {
  position: relative;
  color: blanchedalmond;
  font-size: 25px;
  left: 10px;
  top: 100px;
  height: 60px;
  width: 280px;
}

#gaming {
  position: relative;
  color: blanchedalmond;
  font-size: 25px;
  left: 10px;
  top: 100px;
  height: 60px;
  width: 280px;
}

/* category hovering */

h3:hover {
color: aqua;
}

a {
  text-decoration:none
}

/* Contact Info */

#contact {
  
 display: flex;
 justify-content: space-evenly;
 position: relative;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-decoration: underline;
font-weight: bold;
font-size: 30px;
color: blanchedalmond;
background-color: rgb(83, 134, 168);
height: 50px;
} 










