*

 {font-family:Verdana, Geneva, Tahoma, sans-serif}

/* website border */



/* Title Name */

h1 {
    position: absolute;
    font-size: 75px;
    top: 50px;
    left: 100px;
    background-color: black;
    color:rgb(129, 184, 206);
  
    /*subtitle name*/

}

#mg {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  position: absolute;
  font-size: 50px; 
  text-decoration: underline;
  top: 125px;
  right: 120px;
  background-color: black;
  color:rgb(125, 145, 182)
}

/* Navigator*/

nav {
  display: flex;
  border: 2px solid black;
  font-weight: bold;
  padding: 0px;
  font-size: 25px;
  justify-content: space-evenly;
  
  background-color: rgb(147, 184, 226);
}



/* box labels */
.flex {
  display: flex;
  display: list-item;
}

.programs {
  background-image: url("../images/s1.bmp");
}




/* about me paragraph */

ul, 
li
 { 
  font-family:'Times New Roman', Times, serif;
  color: rgb(0, 0, 0);
  font-size: 25px;
  position: relative;
  left: 125px;
  width: 1000px;
}

 /* work categories */



/* category hovering */

h3:hover {
color: aqua;
}

a {
  text-decoration:none
}

/* Contact Info */

#contact {
  
 display: flex;
 justify-content: space-evenly;
 position: relative;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-decoration: underline;
font-weight: bold;
font-size: 30px;
color: blanchedalmond;
background-color: rgb(83, 134, 168);
height: 50px;
} 










